:root{
  --cursor-color: #FFBC42;
}
body{
  font-family: "Special Elite";
  background-image: url("/materials/paper.png");
}
.name-section {
    text-align: center;
    width: 90%;   
    /* display: flex; */
}
#name{
  font-size: 4em;
  color:#457B9D;
  overflow: hidden;
  text-align: center;
}
#name:hover{
  font-family: "Long Cang", cursive;
  font-size: 6em;
}

.chinese-name,
.english-name {
  display: block;
  overflow: hidden;
  transition: all 400ms ease-in-out;
}
.english-name {
  margin-top: 2%;
  height: auto;
  opacity: 1;
  width: auto;
}
.chinese-name {
  margin-top: 0%;
  height: 0px;
  opacity: 0;
  width: 0px;
}
#name:hover .english-name {
  height: 0px;
  opacity: 0;
  width: 0px;
}
#name:hover .chinese-name {
  margin-top: -2%;
  height: auto;
  opacity: 1;
  width: auto;
  color: #457B9D;
}


.tags {
  position: absolute;
  color: #FFBC42;
  font-size: 1.7em;
  display: none; 
  z-index: 3;
  border-right: 1px solid var(--cursor-color); 
  animation: 
  blinking 1s steps(1,end) infinite,
  typing 4s steps(40,end);
  overflow: hidden;
  white-space: nowrap;
  width: auto;
}

@keyframes blinking {
  0% {border-color: transparent}
  50%{border-color: var(--cursor-color);}
  100%{border-color: transparent}
}
@keyframes typing {
  0% {max-width:0}
  100%{max-width: 100%;}
}
#film-frame{
  position: absolute;
  width: 56%;
  left:3%;
  top:15%;
}

.drawings{
  width: 900px;
  height: 700px;
  margin-left: 3%;
  margin-top: 2%;
  position: relative; /* Ensures children are positioned relative to this container */

}
#walking-novia{
  position: absolute;
  top:6%;
  left:30%;
}
#earth-canvas{
  position: absolute;
  width: 800px;
  top:33%;
  left:0;
  height: auto;
  z-index: -1;
}
#stars-canvas{
  position: absolute;
  left:5%;
}
#line-canvas{
  position: absolute;
  bottom:1%;
  left:5%;
}
.introduction{
  width: 40%;
  left: 60%;
  top:20%;
  font-size: 2em;
  line-height: 1em;
  text-align: left;
  position: absolute;
}