body{
    font-family: "Special Elite";
    background-image: url("../materials/paper.png");
}
h1{
    font-size: 40px;
}

.project_name{
    display: flex;
    flex-direction: column; 
    position: relative; 
}
.project_details{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 1000px;
    /* position: relative;
    width: 1200px; */
}
.project_description{
    position: absolute;
    width: 450px;
    left: 1000px;
    top:100px;
}
.project_description p{
    line-height: 25px;
}

.year {
    text-align: left;
    margin-top:-20px;
}

.team_info {
    text-align: left; 
    margin-top:-10px;
}
#back-icon{
    position: absolute;
    right:10px;
    top:10px;
    height:80px;
    cursor: pointer;
}
#video-popup.hidden {
    display: none;
}

#video-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
#popup-content {
    position: relative;
    padding: 35px;
    background: white;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}
.btn{
    font-family: "Special Elite";;
    align-self:center;
    background:transparent;
    padding:1rem 1rem;
    margin:0 1rem;
    transition:all .5s ease;
    color:#41403E;
    font-size:1rem;
    letter-spacing:1px;
    outline:none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    cursor: pointer;
}
.btn:hover {
    border-radius: 50px; 
    box-shadow: 10px 18px 14px -10px hsla(0, 0%, 0%, 0.3); 
    background: #f0f0f0; 
}
#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
}
