body{
    /* font-family: "Special Elite";
    background-image: url("/materials/paper.png"); */
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.nav-bar{
    position: absolute;
    font-size: 30px;
    top:-15px;
    left:15px;
    cursor: pointer;
    z-index: 10;
}

.nav-bar a {
    text-decoration: none; 
    color: inherit; 
}

.proj-frame{
    position: absolute;
    display: block;
    top: 30px;
    left:0px;
    width:100vh;
    height:100vw;
    overflow-y: auto;
    overflow-x: hidden;
    transform:rotate(-90deg) translateY(-100vh);
    transform-origin: right top;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
.proj-frame::-webkit-scrollbar { 
display: none;  /* Safari and Chrome */
}

.proj-frame  div{
    display: block;
    width:600px;
    height:500px;
    margin: 200px;
    transform: rotate(90deg)translateX(700px);
    transform-origin: right top;
}
.proj-frame  div p{
    position: absolute;
    font-size: 45px;
    left:200px;
    top:370px;
    cursor: pointer;
}
.proj-frame  div .intro{
    position: absolute;
    font-size: 35px;
    left:50px;
    top:590px;
    cursor: pointer;
}
.frame{
    height: 600px;
    cursor: pointer;
}
.proj-icon{
    position: absolute;
    top:130px;
    left:180px;
    height: 250px;
}
#vision-drawn{
    cursor:url('../materials/eye.cur'), auto;
}
#cat-txt {
    left:110px;
}
#calli-drawn{
    width:220px;
    height: auto;
    top:180px;
    left: 160px;
}
#calli-txt{
    left:130px;
    width: 20px;
    top:340px;
}
#hero-txt{
    left:130px;
    font-size: 35px;
    width: 350px;
}